{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block content %}
{{ lib.panel_begin(title, "Report Preview") }}

<div class="report-preview-toolbar">
    <a class="btn btn-default" href="{{ url_for('ReportsView.show', pk=report.id) }}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <a class="btn btn-primary" href="{{ url_for('ReportsView.run', pk=report.id) }}">
        Run now
    </a>
    <button class="btn btn-default report-print-action" type="button" onclick="window.print()">
        <i class="fa fa-print" aria-hidden="true"></i> Print
    </button>
</div>

{{ report_html }}

{{ lib.panel_end() }}
{% endblock content %}

{% block add_tail_js %}
<style nonce="{{ baselib.get_nonce() }}">
  .report-preview-toolbar {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .report-html {
    max-width: 1000px;
  }

  .report-html code {
    white-space: normal;
    word-break: break-word;
  }

  .report-toc {
    margin-bottom: 1.5rem;
  }

  .report-toc ul {
    list-style: none;
    padding-left: 0;
  }

  .report-toc-level-3,
  .report-toc-level-4,
  .report-toc-level-5,
  .report-toc-level-6 {
    margin-left: 1rem;
  }

  @media print {
    .report-preview-toolbar,
    .report-print-action {
      display: none !important;
    }
  }
</style>
{% endblock %}
