{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block content %}
{{ lib.panel_begin(title, "show") }}

{% if related_views is defined %}
    <ul class="nav nav-tabs"  style="{{"display: none;" if not related_views else "" }}">
    <li class="active"><a href="#Home" data-toggle="tab">{{ _("Detail") }}</a> </li>
        {% for view in related_views %}
            <li>
                <a href="#{{view.__class__.__name__}}" data-toggle="tab">{{view.title}}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
    {% for view in related_views %}
        <div id="{{view.__class__.__name__}}" class=tab-pane">
            {{ widgets.get('related_views')[loop.index - 1](pk = pk)|safe }}
        </div>
    {% endfor %}
{% endif %}
{% block show_form %}
    <div id="Home" class="tab-pane active">
        {{ widgets.get('show')()|safe }}
    </div>
{% endblock show_form %}

   <div class="container">
      <div class="row">

<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title ">Show Results</h4>
  </div>
  <div class="panel-body" id="addrAccordion">

  <script>
    function makeCollapsePanel({ panelClass = "panel panel-default", headingTag = "h4", parentId, collapseId, title }) {
      const panel = document.createElement("div");
      panel.className = panelClass;

      const heading = document.createElement("div");
      heading.className = "panel-heading";

      const titleEl = document.createElement(headingTag);
      titleEl.className = "panel-title";

      const link = document.createElement("a");
      link.setAttribute("data-toggle", "collapse");
      link.setAttribute("data-parent", `#${parentId}`);
      link.href = `#collapse-${collapseId}`;
      link.textContent = title;

      titleEl.appendChild(link);
      heading.appendChild(titleEl);

      const collapse = document.createElement("div");
      collapse.id = `collapse-${collapseId}`;
      collapse.className = "panel-collapse collapse";

      const body = document.createElement("div");
      body.className = "panel-body";
      collapse.appendChild(body);

      panel.appendChild(heading);
      panel.appendChild(collapse);

      return { panel, body };
    }

    function appendObjectPre(parent, value) {
      const pre = document.createElement("pre");
      Object.entries(value || {}).forEach(([key, val], index) => {
        if (index > 0) {
          pre.appendChild(document.createTextNode("\n"));
        }
        pre.appendChild(document.createTextNode(`${key} : ${val}`));
      });
      parent.appendChild(pre);
    }

    function appendDetailPanel(parent, parentId, portId, key, val, detailIndex) {
      const detailId = `${portId}-detail-${detailIndex}`;
      const { panel, body } = makeCollapsePanel({
        headingTag: "h5",
        parentId,
        collapseId: detailId,
        title: key
      });

      if (Array.isArray(val) && val.every(obj => obj && obj.id)) {
        const group = document.createElement("div");
        group.className = "panel-group";
        group.id = `${detailId}-group`;

        val.forEach((obj, objIndex) => {
          const objId = `${detailId}-obj-${objIndex}`;
          const { panel: objPanel, body: objBody } = makeCollapsePanel({
            parentId: group.id,
            collapseId: objId,
            title: `ID: ${obj.id}`
          });
          appendObjectPre(objBody, obj);
          group.appendChild(objPanel);
        });

        body.appendChild(group);
      } else {
        appendObjectPre(body, val);
      }

      parent.appendChild(panel);
    }

    fetch("/jobsview/file_get/{{get_job_uid(pk) | safe}}")
      .then(res => res.json())
      .then(data => {
        const addrAccordion = document.getElementById("addrAccordion");

        data.forEach((entry, addrIndex) => {
          const addrId = `addr-${addrIndex}`;
          const { panel: addrPanel, body: addrBody } = makeCollapsePanel({
            headingTag: "h1",
            parentId: "addrAccordion",
            collapseId: addrId,
            title: entry.addr
          });

          const portsGroup = document.createElement("div");
          portsGroup.className = "panel-group";
          portsGroup.id = `ports-${addrId}`;

          (entry.ports || []).forEach((port, portIndex) => {
            const portId = `${addrId}-port-${portIndex}`;
            const { panel: portPanel, body: portBody } = makeCollapsePanel({
              parentId: portsGroup.id,
              collapseId: portId,
              title: `TCP Port ${port.portid}`
            });

            const detailsGroup = document.createElement("div");
            detailsGroup.className = "panel-group";
            detailsGroup.id = `details-${portId}`;

            Object.entries(port)
              .filter(([, value]) => value && typeof value === "object")
              .forEach(([key, val], detailIndex) => {
                appendDetailPanel(detailsGroup, detailsGroup.id, portId, key, val, detailIndex);
              });

            portBody.appendChild(detailsGroup);
            portsGroup.appendChild(portPanel);
          });

          addrBody.appendChild(portsGroup);
          addrAccordion.appendChild(addrPanel);
        });
      });
  </script>
</div>

</div>
</div>

{% if related_views is defined %}</div>{% endif %}
{{ lib.panel_end() }}

{% endblock content %}
{% block add_tail_js %}
<script src="{{url_for('appbuilder.static',filename='js/ab_keep_tab.js')}}" nonce="{{ baselib.get_nonce() }}"></script>
{% endblock %}
